.ipynb_checkpoints
__pycache__
media/blog_post_document_types_changes.png
media/blog_post_document_types_pct_changes.png
media/blog_post_source_type_oal_pie_chart.png
media/blog_post_source_type_walden_pie_chart.png
media/blog_post_oa_oal_area_chart.png
media/blog_post_oa_walden_area_chart.png
media/blog_post_pubyear.png
media/blog_post_grants.png
